<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Beauty of nature</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to My Blog</h1>
        <div class="post">
            <h2><a href="post.html">My earth and my Nature</a></h2>
            <h3 >Explore the wonders of nature and the calming effect it has on our minds. From lush green forests to serene beaches, nature has a way of bringing peace to our hectic lives.</h3>
            <h3>Nature has given us so much that we cannot even imagine. Life on this earth is possible only because of nature. There are many other planets in the universe but without this nature life is not possible there. Thus nature is the basis of our life. Nature is not the same everywhere on earth. According to the place, nature changes its appearance and according to that place provides us with resources, as well as provides comfort to our mind, our eyes.</h3>
            <h3>Nature gives us so much, so it is our duty to respect it knowing its importance and not to destroy it for our selfishness. So that the children of man can also enjoy its beauty and take advantage of it, otherwise one day will be when people will be able to see and feel the beauty of this nature on the computer itself.</h3>
        </div>
        <!-- Add more posts as needed -->
    </div>
</body>
</html>
